@import "../../index.less";

.sidebar {
    .flexbox(column, flex-start, center);
    height: 100vh;
    width: 20vw;
    padding: 20px;

    a {
        color: black;
        text-decoration: none;
    }

    .link {
        .flexbox(row, center, center);
        height: 20px;
        width: 50%;
        margin: 10px 0px;
        padding: 5px;
        border-radius: 5px;
        background-color: deeppink;
    }

    .highlighted {
        background-color: greenyellow;
    }
}